<h2>Phone Bill Widget</h2>

<p>Calculate Phone bill for user</p>

<form action="/">
  <label for="User">user name:</label>
  <input type="text" id="Username" name="Username"><br><br>
  <label for="UsageString">Usage string:</label>
  <input type="text" id="Usagestring" name="Usagestring"><br><br>
  <input type="submit" value="Submit">
</form>


<h2>Allocate Price Plan To Username</h2>

<form action="/">
  <label for="cars">Price Plan</label>
  <select id="cars" name="cars">
    <option value="sms 100">sms 100</option>
    <option value="call 100">call 100</option>
    <option value="text-me">text-me</option>
  </select>
  <input type="Allocate">
</form>