<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculate Phone Bill</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="navigation">
      <ul class="navLinks"> <a href="/"><li>Home</li></a> <a href="/price_plans"><li>Price Plans</li></a> <a href="/user_plan"><li>Link User</li></a>
      </ul>
    </div>

    <h2>Phone Bill Widget</h2>

<p>Calculate Phone bill for user</p>

<div class="home">
  <form action="/" method="POST">
  <input type="text" name="username" class="username inputs" placeholder="Enter username" />

 <input type="text" name="usageString" class="usageString inputs"  placeholder="Enter usage string" />
  
  <button type="submit" class="calculate">Calculate</button>
</form>

<h4>Phone bill total</h4>
        <div class="totalCost">{{cost}}</div>


</body>
</html>